name: "DevCard"

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */5 * * *" # every 5 hours
jobs:
  devcard:
    runs-on: ubuntu-latest
    steps:
      - name: devcard
        uses: dailydotdev/action-devcard@2.0.2
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}
