name: "Article Dev"

on:
  workflow_dispatch:
  schedule:
    # - cron: "1 6 * * 3,6" # every Wednesday and Saturday at 6:01 AM
    # - cron: "* 5 * * *"
    - cron: "*/5 * * * *" # every 5 minutes
  push:
    # branches:
    #   - master
jobs:
  update-articles:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Generate README
        uses: huantt/article-listing@v1.1.0
        with:
          username: victor1890
          template-file: "README.md.template"
          out-file: "README.md"
          limit: 5
      - name: Commit
        run: |
          git config user.name victor1890
          git config user.email victorrosariodeveloper@gmail.com
          git add README.md
          git diff --quiet && git diff --staged --quiet || git commit -m "[bot] Update README with latest info"
          git push origin master
